.rc-pagination {
  .rc-pagination-prev {
    border: 0;
  }

  .rc-pagination-next {
    border: 0;
  }

  .rc-pagination-item {
    border: 0;

    &:hover {
      opacity: 0.8;

      a {
        color: $pagination__main-color;
      }
    }
  }

  .rc-pagination-item-active {
    background: {
      color: $pagination__main-color;
    }

    color: white;

    &:hover {
      opacity: 0.8;

      a {
        color: white;
      }
    }

    &:focus {
      background: {
        color: $pagination__main-color;
      }

      color: white;
    }

    &:active {
      background: {
        color: $pagination__main-color;
      }

      color: white;
    }
  }

  .rc-pagination-jump-prev:hover::after,
  .rc-pagination-jump-next:hover::after {
    color: $pagination__main-color;
  }

  &.rc-pagination-simple {
    .rc-pagination-simple-pager {
      input:hover {
        border: {
          color: $pagination__main-color;
        }
      }
    }
  }
}
